services:
  redis:
    image: docker.io/library/redis:8
    container_name: redis
    restart: unless-stopped
    env_file: 
      - .env
    volumes:
      - ./data:/data
    networks:
      paperless-stack:
        aliases:
          - redis

networks:
  paperless-stack:
    external: true
